{% extends 'portfolio/base.html' %}

{% block content %}

    <div class="container text-center">
        <h1 class="display-1"><strong>Blog</strong></h1>
        <br>
        <h2>You've written {{count}} blog{{ count|pluralize }}</h2>
        <br>
    </div>
    <div class="container">
        {% for blog in blogs %}
            <br>
            <h3 class="text-primary"><a href={% url 'blog:blog_details' blog.id %}>{{ blog.title }}</a></h2>
            <h5 class="text-black-50">{{ blog.date|date:'M d Y '|upper }}</h3>
            <p><strong>{{ blog.content|safe|truncatechars:200 }}</strong></p>
        {% endfor %}
    </div>
    
{% endblock %}